* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'komikax';
  src: url('@/assets/fonts/komikax.otf') format('truetype');
}

@font-face {
  font-family: 'montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat');
}

#app {
  background-color: white;
}
